<section class="flex items-center justify-center h-screen">
  <div>
    <p class="say-hi">
      <em>Hola</em> <span class="wave">👋</span>, mi nombre es
      <span class="name">Luis Villalobos</span>
    </p>
    <p class="professional-description">Desarrollador de software</p>
    <p class="description">
      Entusiasta del desarrollo en Android, en busca de buenas implementaciones
      de software. Me gusta aprender cosas nuevas de tecnología y resolver
      problemas con buena música y código. Me gustaría crecer profesionalmente y
      colaborar activamente como equipo.
    </p>
  </div>
</section>
