<section class="flex items-center justify-center h-screen">
  <div>
    <p class="say-hi">
      <em>Hola</em> <span class="wave">👋</span>, mi nombre es
      <span class="name">Luis Villalobos</span>
    </p>
    <p class="professional-description">Software Engineer</p>
    <p class="description">
      Entusiasta del desarrollador de software en constante búsqueda de
      crecimiento y aprendizaje. Me llena de alegría dar vida a ideas a través
      del código y abordar desafíos con eficiencia. Siempre estoy preparado para
      asumir nuevos retos y encontrar soluciones innovadoras. Mi objetivo es
      crecer tanto personal como profesionalmente, contribuyendo de manera
      significativa en cada proyecto en el que participo.
    </p>
  </div>
</section>
