// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Copy text color
/// @type Color
$text-color: hsl(227, 27%, 87%) !default;
/* $text-color: hsl(220 45% 80%) !default; */
/// Copy text color
/// @type Color
$background-base-color: hsl(216, 65%, 11%) !default;

/// Primary color
/// @type Color
$primary-color: hsl(167, 64%, 59%) !default;

/// Secondary color
/// @type Color
$secondary-color: hsl(65, 20%, 80%) !default;

/// Third color
/// @type Color
$third-color: hsl(270, 20%, 80%) !default;

/// Light grey
/// @type Color
$light-grey: hsl(0, 0%, 86%) !default;

/// Medium grey
/// @type Color
$mid-grey: hsl(0, 0%, 75%) !default;

/// Dark grey
/// @type Color
$dark-grey: hsl(0, 0%, 65%) !default;

/// Contrast color
/// @type Color
$contrast-color: hsl(0, 0%, 90%) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;

$text-title-responsive: clamp(2rem, 4vw + 1rem, 3rem);
$text-title-decoration-responsive: clamp(1rem, 2vw + 1rem, 2rem);
$text-item-list: 0.85em;
