<section class="grid grid-cols-3 grid-flow-row gap-4 min-h-full">
  <div class="col-span-3 mt-25">
    <h2>Manténgase en contacto <span class="blinking"></span></h2>
  </div>

  <div
    class="col-span-3 flex flex-col w-full md:w-2/3 lg:1/4 justify-self-center mb-10"
  >
    <p class="text-center mb-5">
      Actualmente me encuentro en busca de trabajo u oportunidades como
      freelancer. Si tienes algún proyecto en mente o simplemente quieres
      conversar, no dudes en contactarme a través de mi correo, trataré de
      contestarte lo más rápido posible.
    </p>

    <button class="py-3 px-10 mx-auto">Mándame un mensaje</button>
  </div>
</section>
