// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: "BigBlueTermPlusNerdFont";
  src: local("BigBlueTermPlusNerdFont"),
    url(/assets/fonts/BigBlueTerminal/BigBlueTermPlusNerdFont-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(/assets/fonts/Montserrat/static/Montserrat-Regular.ttf)
      format("truetype");
}
